<% provide(:title, 'Contact') %>
<h1>Contact</h1>
    <p>
      If you've landed here you likely want to talk with someone. For the time being, just drop us a line here and a member of the team will get back with you. We'll announce the team lineup on April 30th.
    </p>